<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>270</integer>
    <key>angleVariance</key>
    <real>24.80263137817383</real>
    <key>blendFuncDestination</key>
    <integer>4</integer>
    <key>blendFuncSource</key>
    <integer>1</integer>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>1</integer>
    <key>finishColorBlue</key>
    <integer>1</integer>
    <key>finishColorGreen</key>
    <integer>1</integer>
    <key>finishColorRed</key>
    <integer>1</integer>
    <key>finishColorVarianceAlpha</key>
    <integer>1</integer>
    <key>finishColorVarianceBlue</key>
    <integer>1</integer>
    <key>finishColorVarianceGreen</key>
    <integer>1</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <real>25.15789413452148</real>
    <key>finishParticleSizeVariance</key>
    <integer>0</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>0</integer>
    <key>maxParticles</key>
    <integer>50</integer>
    <key>maxRadius</key>
    <integer>100</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <integer>2</integer>
    <key>particleLifespanVariance</key>
    <real>2.130962133407593</real>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <real>357.8536071777344</real>
    <key>rotationStart</key>
    <real>551.3980102539062</real>
    <key>rotationStartVariance</key>
    <real>386.71875</real>
    <key>sourcePositionVariancex</key>
    <integer>375</integer>
    <key>sourcePositionVariancey</key>
    <real>21.36842155456543</real>
    <key>sourcePositionx</key>
    <real>471.7389526367188</real>
    <key>sourcePositiony</key>
    <real>753.75</real>
    <key>speed</key>
    <integer>250</integer>
    <key>speedVariance</key>
    <integer>30</integer>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <integer>1</integer>
    <key>startColorGreen</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <integer>1</integer>
    <key>startColorVarianceAlpha</key>
    <integer>1</integer>
    <key>startColorVarianceBlue</key>
    <integer>1</integer>
    <key>startColorVarianceGreen</key>
    <integer>1</integer>
    <key>startColorVarianceRed</key>
    <integer>1</integer>
    <key>startParticleSize</key>
    <integer>12</integer>
    <key>startParticleSizeVariance</key>
    <integer>5</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>textureImageData</key>
    <string>H4sIAAAAAAAAA+sM8HPn5ZLiYmBg4PX0cAkC0iIgzMEGJHs7ZXmBFGNxkLsTw7pzMi+BHDNPF8cQC8HkBAnWZj0WiUS9Xz9/fq6XmB0ya+508Tw+4ZWzOFfKm04I4BCcJs/rfCjRZFUSRxsDA78OiwjrQ9uHQBMYPF39XNY5JTQBAO0ARVJ8AAAA</string>
  </dict>
</plist>